@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
    background-color: #0096C7;
}

.logo{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    color: white;
}

header ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

header ul li{
    display: inline-block;
    margin: 10px 20px;
}

header ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

header ul li a:hover{
    color: #00c0e1;
    text-decoration: underline;
    transition: 0.9s;
}

.header-btn{
    width: 15%;
    margin-left: 2%;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    background: #023E8A; 
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.header-btn-lg{
    width: 15%;
    margin-left: 2%;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    background: #ff0000; 
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* ----- Header CSS Code End ----- */

main{
	margin: 2% 8%;
}

.main-text{
    font-size: 34px;
    text-align: center;
    color: rgb(0, 0, 64);
    margin-bottom: 1%;
    font-weight: 700;
}

.sub-text{
	font-size: 28px;
    color: rgb(0, 0, 160);
    margin-bottom: 10px;
    font-weight: 600;
}

.sub-des{
	 margin-bottom: 1%;
}

.ticket-table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3%;
}

.ticket-table th{
	height: 40px;
	background-color: #007ca6;
	color: #fff;
}

.ticket-table td{
	height: 45px;
	padding: 3px 0 3px 5px;
}

.create-button {
	width: 60%;
	height: 32px;
	margin-left: 20%;
	font-weight: 700;
	background-color: #0059b3;
	color: #fff;
	cursor: pointer;
}

.reply-table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3%;
}

.reply-table th{
	height: 40px;
	background-color: #007ca6;
	color: #fff;
}

.reply-table td{
	height: 45px;
	padding: 3px 0 3px 5px;
}

.buttons{
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
}

.buttons form{
	width: 100%;
}

.view-button {
	width: 90%;
	height: 32px;
	font-weight: 700;
	background-color: rgb(12, 190, 115);
	color: #fff;
	cursor: pointer;
}

.update-button{
	width: 90%;
	height: 32px;
	font-weight: 700;
	background-color:rgb(0, 116, 232);
	color: #fff;
	cursor: pointer;
}

.delete-button{
	width: 90%;
	height: 32px;	
	font-weight: 700;
	background-color: rgb(222, 103, 24);
	color: #fff;
	cursor: pointer;
}


/* ----- Footer CSS Code ----- */
footer{
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 2% 4%;
    background-color: #0096C7;
    color: #fff;
}

.footer-1{
    width: 20%;
    margin-left: 3%;
}

.footer-1 h4{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 15px;
}

.footer-1 p{
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.footer-2{
    width: 12%;   
}

.footer-2 h4{
    font-size: 20px;
    font-weight: 700;
}

.footer-2 hr{
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

.footer-2 p{
    font-size: 17px;
    font-style: italic;
    margin-bottom: 7px;
}

.footer-3{
    width: 12%;   
}

.footer-3 h4{
    font-size: 20px;
    font-weight: 700;
}

.footer-3 hr{
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

.footer-3 p{
    font-size: 17px;
    font-style: italic;
    margin-bottom: 7px;
}

.footer-4{
    width: 17%;   
    margin-right: 3%;
}

.footer-4 h4{
    font-size: 20px;
    font-weight: 700;
}

.footer-4 hr{
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
}

.footer-4 p{
    font-size: 17px;
    font-style: italic;
    margin-bottom: 7px;
}
